vue/wallet/node_modules
vue/wallet/dist
vue/browser/node_modules
vue/browser/dist
secret.yml
.idea

# Build
vendor
build
docs/_build
docs/tutorial
docs/node_modules
docs/modules
dist
tools-stamp
buf-stamp
artifactss
happy/*.log
build/
x/wasm/xmodel/contractsdk/cpp/build/
x/wasm/xmodel/xvm/compile/wabt/build/